<html>
    <head>
        <title>
            <%=title%>
        </title>
        <script src="https://kit.fontawesome.com/af827e2ea3.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/CSS/data.css">
    </head>
    <body>
     <nav><a href=""><div class="logo">AUTOMATE</div></a>
        <a href=""><div class="refresh">REFRESH</div></a>
    </nav>
      <div class="datacontainer">
        <table>
          <tr class="col">
            <th><div class="head">#</div></th>
            
              <th><div class="head"><i class="fas fa-envelope"></i> User Email</div></th>
              <th><div class="head"><i class="fas fa-lightbulb"></i> Available Appliances</div>
              </th>
              <th><div class="head"><i class="fab fa-twitch"></i> Current Status</div>
              </th>
          
          </tr>

          <%for(var i=0; i < all_users.length ; i++){%>
          <tr class="col">
              <td><span class="sNo"><%=i+1%></span> </td>
            
              <td> <%=all_users[i].email%></td>

              <td> <%for(let j =0 ; j< appliances.length ; j++){%>
                  <%if(all_users[i].id==appliances[j].admin.id){%>
                      <div class="appliance">
                         <%=appliances[j].name%>    
                        </div>
                        
                        <!-- <%if(all_users[i].appliances.length-1==1){%>
                        
                        <div class="bz" style="width: auto; height: 0.1px; background-color:  #ffc662;"></div>
                        <%}%> -->
                        <%}%>
                    <%}%>
            </td>
              <td><%for(appliance of appliances){%>
  
                <%if(all_users[i].id==appliance.admin.id){%>
              
                    <%for(state of states){%>
                       <%if(appliance.id==state.appliance){%>
                            <div class="states">
                              <%if(appliance.name=='BULB'){%>
                                <div class="state">
                                  <div class="s1"><span> Turned :</span>
                                    <%if(state.isTurnedOn){%>
                                    <span style="color: green;" > ON </span></div>
                                    <%}else{%>
                                      <span style="color: darkred;">OFF</span>
                                      <%}%>
                                 <div class="s2"><span>Intensity:</span> <%=state.intensity%></div>
                                </div>
                                <%}else{%>
                                  <div class="state">
                                    <div class="s1"><span> Turned:</span>  <%if(state.isTurnedOn){%>
                                      <span style="color: green;" > ON </span></div>
                                      <%}else{%>
                                        <span style="color: darkred;">OFF</span>
                                        <%}%></div>
                                   <div class="s2"><span> speed:</span> <%=state.speed%></div>
                                </div>
                                  <%}%>
                                
                            </div>
                        <%}%>
                    <%}%>
                   
           
                <%}%>
            <%}%></td>
          
          </tr>
          <%}%>

        </table>
      </div>
    </body>
</html>